<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "society.fail" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="bg-gray-100">
    <header class="p-4 text-black bg-white shadow-md">
      <div class="flex items-center justify-between mx-auto">
        <%= link_to root_path, class: 'text-xl font-bold flex items-center' do %>
          <%= lucide_icon('heart-handshake', class: 'mr-1') %>
          <span class="tracking-tight">society.fail</span>
        <% end %>
        <nav>
          <ul class="flex space-x-8">
            <li><%= link_to lucide_icon('home'), root_path, class: 'hover:text-blue-500' %></li>
            <li><%= link_to lucide_icon('users'), users_path, class: 'hover:text-blue-500' %></li>
            <li><%= link_to lucide_icon('newspaper'), posts_path, class: 'hover:text-blue-500' %></li>
          </ul>
        </nav>
        <div>
          <%= link_to 'Create a new prosperous citizen!', new_user_path, class: 'text-sm inline-block px-4 py-2 text-white bg-blue-500 hover:bg-blue-800 rounded-md' %>
        </div>
      </div>
    </header>
    <main class="px-8 py-8 mx-8 mt-8 bg-white rounded-lg shadow">
      <%= yield %>
    </main>
    <footer class="p-4 mt-8 text-black">
      <div class="mx-auto text-center">
        society.fail ©<%= Time.zone.now.year %>. No rights reserved. <a href="https://github.com/Shpigford/society.fail" class="text-blue-500">Contribute to the downfall (OSS)</a>.
      </div>
    </footer>
  </body>
</html>
